:root {
  --background-color: #000;
  --primary-color: #fafafa;
  --secondary-color: #e2e2e2;
  --theme-color: #d8d364;
}

@media (min-width: 1120px) {
  body {
    padding: 0 5%;
  }
  .nav {
    margin-top: 2%;
  }
  .navigationlinks {
    width: 65%;
  }
  .quotes {
    width: 40%;
  }
  .main-quote {
    font-size: 3.5rem;
  }
  .sub-quote {
    font-size: 2rem;
  }
  .service-main-quote {
    font-size: 3rem;
  }

  .service-icon-img {
    width: 100%;
  }
  .service-icon-img-tag {
    height: 80%;
    width: 40%;
  }
  .review-section {
    margin: 7% auto;
  }
  .review-section-main-content {
    height: 100%;
  }
  .main-text-review {
    font-size: 1.7rem;
  }
  .join-form {
    height: 100%;
  }
  .btn-sub,
  .inp {
    margin: 2%;
  }
  .btn-sub {
    height: 15%;
  }
  #logo-img {
    background-size: 15% 60%;
  }
  iframe {
    width: 95%;
  }
  .footer {
    width: 95%;
    margin: 5% auto;
  }
  .login-body {
    width: 90vw;
  }
  .logIn {
    width: 90vw;
  }
  /* .form  {
    font-size: 1.5rem;
  } */
  .form strong {
    font-size: 2rem;
    width: 100%;
  }
  .addUser-con {
    width: 90vw;
  }
}

@media (min-width: 992px) and (max-width: 1119px) {
  .navigationlinks {
    width: 65%;
  }
  .addUser-con {
    width: 90vw;
  }
  .form {
    font-size: 2rem;
  }
  .logIn {
    width: 90vw;
  }
  .inp {
    margin: 2%;
  }
  #logo-img {
    background-size: 15% 60%;
  }
}

@media (min-width: 501px) and (max-width: 991px) {
}

@media (max-width: 500px) {
  .visible-xs {
    display: block;
  }
  .hidden-xs {
    display: none;
  }
  .nav {
    width: 100%;
    margin: 5% 0;
  }
  .btn-xs {
    display: grid;
    place-items: center;
    height: 50%;
    width: 20%;
    background-color: var(--theme-color);
    border: none;
  }
  .more {
    height: 100dvh;
    width: 100dvw;
    position: sticky;
    top: 11vh;
    left: 0;
    background-color: #000;
  }
  .more-options {
    border-top: 1px dashed #fff;
    height: 80%;
    width: 90%;
    margin: 5% auto;
  }
  .options-p {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
  }
  .options {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 5%;
  }
  .cancel {
    background: #000;
    color: var(--primary-color);
    font-size: 2rem;
  }
  .btn-more {
    height: 80%;
    width: 30%;
    margin-left: 5%;
  }
  .logo {
    width: 30%;
  }
  #logo-name {
    font-size: 12px;
  }
  #navlinks {
    width: 70%;
  }
  .hero {
    height: 50vh;
  }
  .main-quote {
    font-size: 1.7rem;
  }
  .sub-quote {
    height: 40%;
    font-size: 1rem;
  }
  .btn-hero {
    height: 80%;
    font-size: 1rem;
    width: 50%;
  }
  .service {
    height: 30vh;
  }

  .service-main-quote {
    font-size: 1.5rem;
  }
  .service-sub-quote {
    font-size: 1rem;
  }
  .review-section {
    height: 60vh;
  }
  .review-section-main-content {
    height: 100%;
  }
  .star {
    height: 50%;
  }
  .review-stars-1 {
    height: 50%;
    display: flex;
    align-items: center;
  }
  .review-count {
    text-align: center;
  }
  .main-text-review {
    font-size: 1rem;
  }
  .btn-scroll {
    width: 30%;
  }
  .faclities {
    margin: 5% auto;
    height: 60%;
  }
  .facilites-con {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .trainer-details-body {
    line-height: normal;
  }
  .join-form {
    width: 100%;
  }
  .footer {
    height: 70vh;
    flex-wrap: wrap;
  }
  .footer-details {
    width: 100%;
    height: 30%;
    padding: 0;
  }
  .footer-map {
    height: 70%;
    width: 100%;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .logIn-con {
    width: 90%;
  }
  .user-detials {
    margin: 1% auto;
    width: 99%;
  }
  .user-personal-info {
    font-size: 15px;
  }
  .dlt-btn {
    width: 100%;
  }
  .adminBody {
    height: 70vh;
    grid-template-columns: 1fr 1fr;
  }
  .inp-admin {
    width: 100%;
  }
  .addUser {
    width: 90%;
  }
  .user-personal-info {
    padding: 15% 5%;
  }
  .add-month-btn-con {
    width: 50%;
  }
  .msg-text {
    font-size: 1rem;
  }
  .req-dlt-btn {
    width: 70%;
    height: 40%;
    font-size: 1.5rem;
  }
  .empty-con h2 {
    text-align: center;
  }
}
